stages:
  - build
  - lint
  - test

variables:
  DJANGO_SETTINGS_MODULE: "project.settings"
  VENV_PATH: ".venv"

build-validation:
  stage: build
  before_script:
    - python3 -m venv $VENV_PATH
    - source $VENV_PATH/bin/activate
    - pip install --upgrade pip
    - pip install -r requirements.txt
  script:
    - source $VENV_PATH/bin/activate
    - python3 manage.py check
    - echo "Проект успешно собирается"

code-lint:
  stage: lint
  before_script:
    - python3 -m venv $VENV_PATH
    - source $VENV_PATH/bin/activate
    - pip install --upgrade pip
    - pip install pylint
    - pip install -r requirements.txt
  script:
    - source $VENV_PATH/bin/activate
    - pylint --errors-only **/*.py --ignore-paths=$VENV_PATH
    - echo "Синтаксических ошибок не найдено"


models-check:
  stage: test
  before_script:
    - python3 -m venv $VENV_PATH
    - source $VENV_PATH/bin/activate
    - pip install --upgrade pip
    - pip install -r requirements.txt
  script:
    - source $VENV_PATH/bin/activate
    - python3 manage.py shell -c "from django.apps import apps; print([m.__name__ for m in apps.get_app_config('api').get_models()])"

static-files-collect:
  stage: test
  before_script:
    - python3 -m venv $VENV_PATH
    - source $VENV_PATH/bin/activate
    - pip install --upgrade pip
    - pip install -r requirements.txt
  script:
    - source $VENV_PATH/bin/activate
    - mkdir -p staticfiles
    - python3 manage.py collectstatic --noinput
    - echo "Собрано статических файлов:"
    - du -sh staticfiles/